.policeWrapper {
    background-image: url(../img/police/police.jpg);
    background-color: lightblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.chatPolice {
  height: 30vh;
  width: 15vw;
  background-color: gainsboro;
  color: black;
  position: absolute;
  left: 33vw;
  top: 10vh;
  border-radius: 10px;
  text-align: center;
  font-size: 2vh;
  padding: 15px;
}

.policeMan {
  height: 50vh;
  width: 55vw;
  position: absolute;
  bottom: 15vh;
  left: 30vw
}