.tvWrapper {
    background-image: url(../img/tv/tv.png);
    background-color: lightblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}